/* @group general styles 一般性样式（主体样式 reset样式 链接 标题 其他元素）
------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "Microsoft YaHei";
    font-size: 1em;
}
body {
    min-width: 1280px;
    background: #fff;
}
a {
    text-decoration: none;
}
/* @group helper styles 辅助样式（表单 通知和错误 一致的条目）
------------------------------------------------------------------------------------------------------------*/

/* @group page structure 页面结构（标题、页脚和导航 布局 其他页面结构元素）
------------------------------------------------------------------------------------------------------------*/
#wrapper {
    width: 100%;
}
#banner {
    width: 100%;
    min-height: 116px;
}
#banner a img {
    width: 100%;
    border: none;
}
#header {
    width: 90%;
    height: 115px;
}
#nav {
    width: 100%;
    height: 40px;
    background-color: #2e2e2e;
}
#content {
    margin-top: 25px;
    width: 98%;
    height: 1140px;
}
#footer {
    width: 100%;
    height: 60px;
    background-color: #272424;
    color: #abaaaa;
    font-weight: bold;
}
#footer p {
    position: relative;
    top: 20px;
    display: block;
    width: 95%;
}
#footer span {
    float: left;
}
#footer span.address {
    float: right;
}
#header #logo { /*@Logo*/
    float: left;
    margin-top: 40px;
}
#search_box {   /*@搜索框*/
    float: left;
    margin-left: 6%;
    margin-top: 50px;
    width: 40%;
    height: 60px;
}
#search {   
    width: 100%;
    height: 35px;
    border: 2px solid #f23569;
}
#search_name {
    float: left;
    margin-top: 2px;
    margin-left: 1%;
    width: 80%;
    height: 31px;
    line-height: 31px;
    border: none;
    outline: none;
}
#search_btn {
    float: right;
    width: 18%;
    height: 35px;
    text-align: center;
    background-color: #f23569;
    border: none;
    outline: none;
    color: #fff;
}
.hot_goods {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 0.6em;
    color: #afadad;
}
.hot_goods a {
    padding: 0 5px;
    color: #afadad;
}
.hot_goods a:hover {
    color: #f23569;
}
#header #loginbar { /*@登陆注册*/
    float: right;
    margin-top: 80px;
    width: 10%;
    height: 30px;
    line-height: 30px;
    color: #585c6c;
}
#loginbar a {
    padding: 0 10px;
    color: #9a999b;
}
#loginbar a:hover {
    text-decoration: underline;
}
#loginbar a span {
    color: #f16185;
}
#nav ul {   /*主导航条*/
    float: left;
    margin-left: 5%;
    width: 53%;
    height: 40px;
    padding: 0;
}
#nav ul li {
    float: left;
    width: 16%;
    height: 40px;
    border-right: 1px solid #8a8a8a;
}
#nav ul li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
#nav ul li a:hover {
    color: #f16185;
}
#nav ul li a:hover {
    background-color: #00abdf;
    transition: background-color 1s;
    -moz-transition: background-color 1s; /* Firefox 4 */
    -webkit-transition: background-color 1s; /* Safari 和 Chrome */
}
#check_box {   /*@选项框*/
    margin-top: 10px;
    width: 98%;
    border: 1px solid #d2d2d2;
}
#check_box li {
    width: 100%;
    min-height: 38px;
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
}
.check_title {
    float: left;
    width: 10%;
    height: 38px;
    line-height: 38px;
    background-color: #f4f4f4;
    color: #9f9f9f;
    text-align: center;
}
.check_detail {
    float: left;
    margin-left: 2%;
    width: 82%;
}
.check_detail a {
    margin-right: 2%;
    line-height: 38px;
    color: #bab9b9;
    font-size: 0.8em;
}
.check_detail a:hover {
    color: #f1215a;
}
.check_more {
    float: right;
    width: 6%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 0.8em;
}
.check_more:hover {
    cursor: pointer;
}
.left_bar,.right_bar {  /*@左右广告栏*/
    width: 12%;
    height: 1030px;
    background: #f1eff4;
    border: 1px solid #d1d1d1;
}
.left_bar {
    float: left;
}
.right_bar {
    float: right;
}
#goods_list {   /*@中间商品栏*/
    float: left;
    margin-left: 2%;
    width: 72%;
    height: 100%;
}
#goods {
    width: 100%;
    height: 1030px;
}
#goods li {
    float: left;
    margin-bottom: 8px;
    width: 21%;
    height: 335px;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px solid #d1d1d1;
}
#goods li img {
    width: 100%;
    height: 250px;
    border: 1px solid #d1d1d1;
}
#goods li p {
    margin-top: 6px;
    font-size: 0.8em;
    color: #0b0101;
    text-indent: 1em;
    font-weight: bold;
}
#page_list {
    margin-top: 25px;
    width: 58%;
    height: 25px;
}
#page_list li {
    float: left;
    margin-left: 5px;
}
#page_list li a {
    float: left;
    padding: 0 7px;
    display: block;
    height: 23px;
    line-height: 23px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #ececec;
    color: #828080;
    text-align: center;
    font-size: 0.8em;
}
#page_list li.last_block {
    float: right;
    height: 23px;
    line-height: 23px;
    color: #828080;
    text-align: center;
    font-size: 0.8em;
}
#page_input {
    width: 25px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #d1d1d1;
}
/* @group overrides 覆盖
------------------------------------------------------------------------------------------------------------*/
